<!DOCTYPE html>
<html>
<head>
    <title>Cyclists Over Nygårdsbroen!</title>
    <style>
        form div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Cyclists Over Nygårdsbroen!</h1>
    <form method="POST">
        <div>
            <label for="date">Date: format (YYYY-MM-DD HH):</label>
            <input type="text" id="date" name="DateFormatted" required>
        </div>
        
        <div>
            <label for="solarRadiation">Global Radiation:</label>
            <input type="text" id="solarRadiation" name="Globalstraling">
        </div>
        
        <div>
            <label for="sunshineDuration">Sunshine Duration:</label>
            <input type="text" id="sunshineDuration" name="Solskinstid">
        </div>
        
        <div>
            <label for="airTemp">Air Temperature:</label>
            <input type="text" id="airTemp" name="Lufttemperatur">
        </div>
        
        <div>
            <label for="windDirection">Wind Direction:</label>
            <input type="text" id="windDirection" name="Vindretning" >
        </div>
        
        <div>
            <label for="windSpeed">Wind Speed:</label>
            <input type="text" id="windSpeed" name="Vindstyrke" >
        </div>
        
        <div>
            <label for="airPressure">Air Pressure:</label>
            <input type="text" id="airPressure" name="Lufttrykk" >
        </div>
        
        <div>
            <label for="windGusts">Wind Gusts:</label>
            <input type="text" id="windGusts" name="Vindkast" >
        </div>

        <input type="submit" value="Submit">
    </form>
    {% if traffic_data %}
    <h2>Cyclists: {{ traffic_data }}</h2>
    {% endif %}
    <!-- Draw an image of nygårsboren and put cyclists on it equal to traffic that day -->
    {% if traffic_image %}
    <img src="{{ url_for('static', filename='cyclist_image.png') }}" alt="nygardsbroen">
    {% endif %}
</body>
</html>